// Variables
$primary-color: black;
$gradient: linear-gradient(-45deg, #434242, #040D12, #61677A, #272829);
$text-color: white;
$title-size: 80px;
$font: 'Press Start 2P';

// Templates
@mixin input_theme(){
  width: 80px;
  height: 50px;
  text-align: center;
  background-color: black;
  border-width: thick;
  color: white;
  border-radius: 20px;
}

// Objects
body
{
  background-color: $primary-color;
  overflow-x: hidden;
  text-align: center;
  transition: background-color 1s ease;
}

h1
{
  color: $text-color;
  text-align: center;
  font-size: $title-size;
  font-family: $font;
  animation: wobbly 1s ease infinite;
}

h2
{
  color: $text-color;
  text-align: center;
  font-size: 40px;
}

h3
{
  color: $text-color;
  text-align: center;
  font-size: 30px;
  animation: fade-in 2s ease;
}

h4
{
  margin: auto;
  color: white;
}

// index.html
.intro
{
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: baseline;

  .git_branch
  {
    position: absolute;
    width: 50px;
    height: 40px;

  }

  .sword_r
  {
    position: absolute;
    width: 100px;
    height: 100px;
  }
}

.gender
{
  text-align: center;
}

.customisation
{
  border-radius: 30px;
  padding-top: 20px;
  margin: auto;
  width: 100px;
  height: 50px;
}

.x
{
  .btn.btn-danger
  {
    width: 300px;
    height: 80px;
    border-radius: 50px;
  }

  .input-group:hover
  {
    padding-top: 5px;
    transition: padding-top 0.5s;
  }

  .input-group
  {
    padding-top: 0px;
    transition: padding-top 0.5s;
  }

  .enter_name
  {
    padding-top: 100px;
    width: 300px;
    margin: auto;
  }

  .enter_pass
  {
    width: 300px;
    margin: auto;
  }

  .form-control
  {
    @include input_theme;
  }

  .form-control:focus
  {
    width: 80px;
    background: black;
    color: white;
    outline: none !important;
    border-color: #C70039;
    box-shadow: 0 0 10px red;
  }

  .form-control::placeholder
  {
    color: #61677A;
  }

  .custom-tooltip {
    --bs-tooltip-bg: var(--bd-violet-bg);
    --bs-tooltip-color: var(--bs-white);
  }

  .play
  {
    padding-top: 20px;
    text-align: center;
  }
}

.btn.btn-outline-light
{
  width: 200px;
  height: 25px;
  border-radius: 30px;
}

.leaderboard
{
  padding-top: 5px;
  text-align: center;
}

.tips_container
{
  height: 1px;
  padding-top: 10px;

  .tips
  {
    text-align: center;
    color: #D8D9DA;
    font-family: "JetBrains Mono"
  }
}

.version
{
  text-align: center;
  color: #61677A;
}

.footer_area
{
  background-color: #0F0F0F;
  height: 400px;
  text-align: center;

  .pagination
  {
    margin: auto;
    justify-content: center;

    .page-link
    {
      color: red;
    }
  }

  .carousel {
    border-radius: 55px 55px 55px 55px;
    overflow: hidden;
  }

  .sword
  {
    position: absolute;
    padding-bottom: 60px;
    width: 200px;
    height: 200px;
  }

  .footer_header
  {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }

  .footer_para
  {
    width: 400px;
    text-align: center;
    margin: auto;
    font-size: 16px;
    color: #F6F1F1;
  }

  .overflow-auto
  {
    max-width: 260px;
    max-height: 200px;
    text-align: center;
    margin: auto;
    margin-top: 50px;

  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.page_down_2
{
  height: 500px;

  .input-group
  {
    width: 300px;
    margin: auto;
  }

  .cross_swords
  {
    width: 60px;
    height: 60px;
  }
}

#cursor {
  background: white;
  margin-left: 3px;
  -webkit-animation: blink 0.8s infinite;
  width: 7px;
  height: 30px;
}

// loading.html
.countdown
{
  margin-top: 20%;
  display: flex;
  justify-content: center;
}

.load
{
  display: flex;
  justify-content: center;
  padding-top: 10px;

  #spin
  {
    margin: auto;
    width: 80px;
    height: 80px;
    box-shadow: 0px 0px 40px red;
    background-color: red;
  }
}

// game.html
.back_g
{
  position: relative;

  .in_container
  {
    display: flex;
    justify-content: center;
    padding-top: 400px;
  }

  .in
  {
    width: 450px;
    height: 300px;
    border-radius: 10px;
    border-width: medium;
    border-style: outset;
  }

  .progress
  {
    width: 400px;
    height: 80px;
    border-width: 4px;
    border-style: solid;
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
  }

  h1
  {
    padding-top: 20px;
    color: white;
    font-family: $font;
    font-size: 80px;
  }

  #p1_user
  {
    color: #D8D9DA;
    text-align: left;
    padding-left: 10px;
    font-size: 30px;
  }

  #p2_user
  {
    color: #D8D9DA;
    text-align: right;
    padding-right: 10px;
    font-size: 30px;
  }
}


// Animations
@-webkit-keyframes blink {
  0% {background: #222}
  50% {background: white}
  100% {background: #222}
}

@keyframes wobbly
{
  0%
  {
    font-size: 70px;
    color: $text-color;
  }
  50%
  {
    font-size: 80px;
    color: #D80032;
  }
  100%
  {
    font-size: 70px;
    color: $text-color
  }
}

@keyframes fade-in
{
  from { opacity: 0; }
  to { opacity: 1; }
}
