// Variables
$primary-color: black;
$gradient: linear-gradient(-45deg, #434242, #040D12, #61677A, #272829);
$secondary-color: #132043;
$text-color: white;
$title-size: 80px;
$font: 'Press Start 2P';

// Templates
@mixin input_theme(){
  width: 80px;
  height: 50px;
  text-align: center;
  background-color: black;
  border-width: thick;
  color: white;
  border-radius: 20px;
}

// Objects
body
{
  background-color: $primary-color;
  overflow-x: hidden;
  text-align: center;
  transition: background-color 1s ease;
}

h2
{
  color: $text-color;
  text-align: center;
  font-size: 40px;
}

h3
{
  color: $text-color;
  text-align: center;
  font-size: 30px;
  animation: fade-in 1s ease;
}

// index.html
.intro
{
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: baseline;

  h1
  {
    color: $text-color;
    text-align: center;
    font-size: $title-size;
    font-family: $font;
    animation: wobbly 1s ease infinite;
  }

  .git_branch
  {
    position: absolute;
    width: 50px;
    height: 40px;

  }

  .sword_r
  {
    position: absolute;
    width: 100px;
    height: 100px;
  }

  .current_event
  {
    position: absolute;
    width: 100px;
    height: 100px;
  }
}

.gender
{
  text-align: center;
}

.customisation
{
  border-radius: 30px;
  padding-top: 20px;
  margin: auto;
  width: 300px;
  height: 50px;

  #temp_img
  {
    width: 100px;
    height: 110px;
  }

  img
  {
    border-radius: 15px;
  }

  img:hover
  {
    background-color: #B31312;
    transition: background-color 0.5s;
    border-radius: 15px;
  }

}

.x
{
  .btn.btn-danger
  {
    width: 300px;
    height: 80px;
    border-radius: 50px;
  }

  .btn.btn-warning
  {
    position: absolute;
    margin-top: 15px;
    margin-left: 10px;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    box-shadow: 0px 0px 0px black;
    transition: box-shadow 0.5s;
  }

  .btn.btn-warning:hover
  {
    box-shadow: 0px 0px 10px gold;
    transition: box-shadow 0.5s;
  }

  .input-group:hover
  {
    padding-top: 5px;
    transition: padding-top 0.5s;
  }

  .input-group
  {
    padding-top: 0px;
    transition: padding-top 0.5s;
  }

  .enter_name
  {
    padding-top: 100px;
    width: 300px;
    margin: auto;
  }

  .enter_pass
  {
    width: 300px;
    margin: auto;
  }

  .form-control
  {
    @include input_theme;
  }

  .form-control:focus
  {
    width: 80px;
    background: black;
    color: white;
    outline: none !important;
    border-color: #C70039;
    box-shadow: 0 0 10px red;
  }

  .form-control::placeholder
  {
    color: #61677A;
  }

  .custom-tooltip {
    --bs-tooltip-bg: red;
    --bs-tooltip-color: var(--bs-red);
  }

  .play
  {
    padding-top: 20px;
    text-align: center;
  }
}

.btn.btn-outline-light
{
  width: 200px;
  height: 25px;
  border-radius: 30px;
}

.leaderboard
{
  padding-top: 5px;
  text-align: center;
}

.tips_container
{
  height: 1px;
  padding-top: 10px;

  .tips
  {
    text-align: center;
    color: #D8D9DA;
    font-family: "JetBrains Mono"
  }
}

.version
{
  text-align: center;
  color: #61677A;
}

.footer_area
{
  background-color: #0F0F0F;
  height: 350px;
  text-align: center;

  .nav
  {
    justify-content: center;
    border-width: 0px;
    .nav-item
    {
      .nav-link
      {
        color: white;
        font-weight: bold;
        background-color: #0F0F0F;
        border-width: 0px;
        transition: color 0.5s;
      }

      .nav-link:hover
      {
        color: red;
        transition: color 0.5s;
      }

      #premium-tab:hover
      {
        color: gold;
        transition: color 0.5s;
      }
    }
  }

  .pagination
  {
    margin: auto;
    justify-content: center;

    .page-link
    {
      color: red;
    }
  }

  .carousel {
    border-radius: 55px 55px 55px 55px;
    overflow: hidden;
    width: 500px;
    margin: auto;
  }

  .sword
  {
    position: absolute;
    padding-bottom: 60px;
    width: 200px;
    height: 200px;
  }

  .footer_header
  {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }

  .footer_para
  {
    width: 400px;
    text-align: center;
    margin: auto;
    font-size: 16px;
    color: #F6F1F1;
  }

  .overflow-auto
  {
    max-width: 260px;
    max-height: 200px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.crown_div
{
  background-color: rgb(10, 0, 0);
  .crown
  {
    width: 50px;
    height: 50px;
  }
}

.rankings
{
  height: 50px;
  background-color: rgb(10, 0, 0);
  display: flex;
  justify-content: center;
  align-items: baseline;

  .sword_tilt_l
  {
    margin-right: 350px;
    position: absolute;
    width: 100px;
    height: 100px;
    animation: rotate 0.6s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);

    animation-iteration-count: 1;
    animation-fill-mode: both;
  }

  .sword_tilt_r
  {
    margin-left: 350px;
    position: absolute;
    width: 100px;
    height: 100px;
    animation: rotate 0.6s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);

    animation-iteration-count: 1;
    animation-fill-mode: both;
  }
}

.rankings_data
{
  background-color: rgb(10, 0, 0);
  height: 350px;

  .btn
  {
    width: 180px;
    animation: fade-in 0.8s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);

    animation-iteration-count: 1;
    animation-fill-mode: both;
  }
}

.winged_div
{
  background-color: rgb(10, 0, 0);
  height: 100px;
  .winged
  {
    width: 100px;
    height: 100px;
  }
}

.search
{
  background-color: #0F0F0F;
  height: 100px;

  .form-control
  {
    width: 300px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 10px 10px 10px #C70039;
    border-style: double;
    margin: auto;
  }
}

.page_down_2
{
  height: 630px;
  background-color: rgb(10, 0, 0);

  h4
  {
    font-size: 20px;
    margin: auto;
    color: #F5F7F8;
    background-color: rgb(10, 0, 0);
  }

  .form-label
  {
    text-align: center;
    color: white;
  }

  .form-control
  {
    width: 400px;
    margin: auto;
    text-align: center;
    border-radius: 20px;
  }

  .input-group
  {
    width: 400px;
    margin: auto;
    border-radius: 20px;
  }

  .cross_swords
  {
    width: 60px;
    height: 60px;
  }

  .nav.nav-underline
  {
    justify-content: center;
  }

  .nav-link
  {
    color: #BE3144;
  }
}

#cursor {
  background: white;
  margin-left: 3px;
  -webkit-animation: blink 0.8s infinite;
  width: 7px;
  height: 30px;
}

// loading.html

.container
{
  position: relative;
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.skull
{
  width: 100px;
  height: 100px;
  margin-top: 20%;
}

.bottom-left {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: red;
  border-radius: 10px;
  box-shadow: 0px 0px 10px red;
}

.countdown
{
  margin-top: 1%;
  display: flex;
  justify-content: center;
}

.load
{
  display: flex;
  justify-content: center;
  color: white;

  #spin
  {
    margin: auto;
    width: 60px;
    height: 60px;
    box-shadow: 0px 0px 40px red;
    background-color: red;
  }
}

// game.html
.back_g
{
  position: relative;

  .in_container
  {
    display: flex;
    justify-content: center;
    padding-top: 700px;
  }

  .in
  {
    width: 450px;
    height: 50px;
    border-radius: 10px;
    border-width: medium;
    border-style: outset;
    text-align: center;
    text-decoration: underline;
  }

  .progress
  {
    width: 400px;
    height: 80px;
    border-width: 4px;
    border-style: solid;
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
  }

  h1
  {
    padding-top: 20px;
    color: white;
    font-family: $font;
    font-size: 80px;
    background-color: inherit;
  }

  #p1_user
  {
    color: #D8D9DA;
    text-align: left;
    padding-left: 10px;
    font-size: 30px;
  }

  #p2_user
  {
    color: #D8D9DA;
    text-align: right;
    padding-right: 10px;
    font-size: 30px;
  }
}


// Animations
@-webkit-keyframes blink {
  0% {background: #222}
  50% {background: white}
  100% {background: #222}
}

@keyframes wobbly
{
  0%
  {
    font-size: 70px;
    color: $text-color;
  }
  50%
  {
    font-size: 80px;
    color: #D80032;
  }
  100%
  {
    font-size: 70px;
    color: $text-color
  }
}

@keyframes fade-in
{
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
